IMAGE_TAG=latest

JWT_SECRET=
DOCKER_USER=
DOCKER_PASS=

MONGO_URI_AUTH=mongodb://mongodb:27017/auth-service
MONGO_URI_USER=mongodb://mongodb:27017/user-service
MONGO_URI_TASK=mongodb://mongodb:27017/task-service
MONGO_URI_PROJECT=mongodb://mongodb:27017/project-service
MONGO_URI_CONGE=mongodb://mongodb:27017/conge-service
MONGO_URI_NOTIF=mongodb://mongodb:27017/notification-service

AUTH_SERVICE_URL=http://auth-service:5001
USER_SERVICE_URL=http://user-service:5002
TASK_SERVICE_URL=http://task-service:5003
PROJECT_SERVICE_URL=http://project-service:5004
CONGE_SERVICE_URL=http://conge-service:5005
NOTIF_SERVICE_URL=http://notification-service:5006

REACT_APP_API_URL=http://localhost:5000