# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# Coverage
coverage/
junit.xml

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Jest
jest_0/

# Docker
docker-entrypoint.sh
docker-entrypoint.yml
docker-entrypoint.sh4