*.tfvars
!*.tfvars.example
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
apimodel.json

terraform/modules/aks/apimodel.json

terraform/modules/aks/_output/
*.tfstate
*.tfstate.*
*.backup
.terraform/